<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--   1.导入srping的坐标spring -context, 对应版本5.2.10.Release-->

    <!--2.  Configure bean-->
    <bean id = 'bookDao' class = "java.com.itheima.dao.impl.BookDaoImpl"/>


    <bean id = 'bookService' class = "java.com.itheima.service.impl.BookServiceImpl">
        <!--配置server与dao的关系， 把dao放入service-->

        <property name = "bookDao"  ref = 'bookDao'/>
    </bean>


</beans>